<ion-header [translucent]="true" class="logo-header">
    <ion-toolbar>
      <ion-img src="../../assets/photo/logo-official.png" class="logo"></ion-img>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" class="menu-with-green-background">




  <div class="header">
    <h2>Cedric</h2>
    <div class="space-between">
        <div class="followings">
            <ion-badge color="tertiary" mode="ios">42</ion-badge>
            <p>Matchs</p>
        </div>
        <div class="followings">
            <ion-badge color="tertiary" mode="ios">42</ion-badge>
            <p>Messages</p>
        </div>
    </div>
</div>

<div class="flex">
    <div class="box-border">
        <div class="border-white">
            <div class="img-box">
                <img src='assets/photo/lia.jpg'>
            </div>
        </div>
        <ion-fab-button color="tertiary">
            <ion-icon  name="add"></ion-icon>
        </ion-fab-button>
    </div>
</div>

<ion-list >
    <ion-item>
        <ion-label color="light">Prenom</ion-label>
        <ion-input id="prenomInput" color="light"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="light">Nom</ion-label>
        <ion-input id="nomInput" color="light"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="light">Age</ion-label>
        <ion-input id="ageInput" color="light"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="light">Ville</ion-label>
        <ion-input id="villeInput" color="light"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="light">Métier</ion-label>
        <ion-input id="metierInput" color="light"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="light">Bio</ion-label>
        <ion-input id="bioInput" color="light"></ion-input>
    </ion-item>


 <!--  <ion-button (click)="sauvegarderClicked()">Sauvegarder</ion-button>--> 

   <!--   <div id="result"></div>--> 
   </ion-list>
 <!--  div id="result"></div>

<div id="result" style="border: 1px solid red;"></div>--> 



</ion-content>

<ion-button (click)="sauvegarderClicked()">Sauvegarder</ion-button>


<ion-button (click)="presentAlert()">Supprimer le compte</ion-button>
