#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.users {
  position: relative;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  position: absolute;


  ion-card{
    position: relative;
    border-radius: 16px;


    ion-card-content{
      padding: 0;


      img {
        width: 100vw;
        height: 75vh ;
        border-radius: 16px;
        object-fit: cover;
        object-position: top;
        mask-image: linear-gradient(to bottom, #ff0000, #d8cccc, transparent);
      }


      ion-item{
        --padding-start: 0px;
        position: absolute;
        left: 0%;
        bottom: 5%;
        width: 100%;
        text-align: center;
        --background: transparent;




        ion-label {
          h2{
            font-size: x-large;
          }

          p2{
            font-size: large;
          }
        
        }
      }


    
    }

    /* .icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      opacity: 0;
      font-size: 100px;

    }*/

  }
}

center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;


  ion-icon {
    font-size: 45px;
  }
}



.navigation-buttons {
  position: absolute;
  bottom: 10px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 55%;
}


.menu-with-green-background {

  --ion-background-color: linear-gradient(#6d19f5, #050c44);
}


ion-toolbar {

  --background: url('../../assets/photo/colorviolet.jpg') 
}

.logo-header ion-toolbar {
  text-align: center; /* Centre le contenu horizontalement */
}

.logo {
  width: 100px; /* Largeur souhaitée en pixels */
  height: auto; /* Laissez "auto" pour maintenir la proportion d'origine */
  margin: 0 auto; /* Centre le logo horizontalement en utilisant des marges automatiques */
}

.menu-tabs {
  --ion-background-color: linear-gradient(#6d19f5, #050c44);

}